@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 0.6vh;
}

::-webkit-scrollbar {
  background: transparent;
  height: 1vh;
  position: absolute;
  width: 1vh;
  background-color: #000000;
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Montserrat';
  margin: 0;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.05vh;
  resize: none;
  outline: none;
  border: 0;
  user-select: none;
  color: white;
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
}

/*header*/
header{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 12%;
  width: 100%;
  position: fixed;
}
header i{
  color: #000000;
  font-size: 3vh;
  margin-left: 3%;
}
header i:hover{
  cursor: pointer;
}
.fa-solid.fa-calculator.calc-icon{
  display: none;
}

/*main*/
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f7f2f2;
  flex-direction: column;
}
main h1{
  margin-bottom: 3%;
  color: #000000;
  font-weight: 600;
  font-size: 4vh;
}
.container{
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
  background-color: #f7f2f2;
  height: 70%;
  width: 30%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*resultados*/
.tela-result{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 20%;
  width: 85%;
  background-color: #e1e1e1;
  border-radius: 15px;
  padding: 20px;
}

/*numeros*/
.tela-numeros{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  background-color: #e1e1e1;
  border-radius: 15px;
  margin-top: 8%;
  flex-direction: column;
}
.tela-numeros button{
  height: 55px;
  width: 55px;
  border-radius: 100%;
  color: #000000;
  margin: 3%;
  font-size: 2.5vh;
  background-color: #f0f0f0;
  transition: 0.2s;
  font-weight: 600;
}
.tela-numeros button:hover{
  background-color: #d4d0d0;
  cursor: pointer;
  transition: 0.2s;
}
.conjunto-numeros{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.conjunto-calc{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 65%;
  width: 100%;
}
.tela-ops{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  height:100% ;
  width: 20%;
  margin-top: 8%;
  border-radius: 15px;
  margin-left: 5%;
  flex-direction: column;
}
.tela-ops button i{
  color: #000000;
}
.tela-ops button{
  height: 55px;
  width: 55px;
  border-radius: 100%;
  color: #000000;
  margin: 8%;
  font-size: 2.5vh;
  background-color: #f0f0f0;
  transition: 0.2s;
  font-weight: 600;
}
.tela-ops button:hover{
  background-color: #d4d0d0;
  cursor: pointer;
  transition: 0.2s;
}

/*comment-page*/
.comment-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f7f2f2;
  flex-direction: column;
}
.comment-page h1{
  margin-bottom: 3%;
  color: #000000;
  font-weight: 600;
  font-size: 4vh;
}
.container2{
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
  background-color: #f7f2f2;
  height: 70%;
  width: 30%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container2 input{
  height: 15%;
  width: 85%;
  padding: 10px;
  color: #2b2828;
  font-size: 2.5vh;
  margin: 0.7%;
  border-radius: 15px;
  background-color: #e1e1e1;
  margin-top: 4%;
}
.ops-comment{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 20%;
  width: 100%;
}
.ops-comment button{
  height: 55px;
  width: 55px;
  border-radius: 100%;
  color: #000;
  background-color: #e1e1e1;
  margin: 2%;
}
.ops-comment button:hover{
  background-color: #bbb9b9;
  cursor: pointer;
  transition: 0.2s;
}
.ops-comment button i{
  color: #000000;
}
#result{
  color: black;
  font-size: 4vh;
}
@media screen and (max-width: 1000px) {
  .container2{
    width: 80%;
  }
  .ops-comment button{
    height: 99px;
  width: 99px;
  }
  .ops-comment button i{
    font-size: 3vh;
  }
}